@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr" class="dark">



@await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body>
    <body class="bg-background-dark text-slate-100 selection:bg-primary selection:text-background-dark"></body>

 
    @await Component.InvokeAsync("_DefaultNavbarComponentPartial")

    <div class="sections">
        <div class="sections-wrapper clearfix">

            @await Component.InvokeAsync("_DefaultFeatureComponentPartial")

            @await Component.InvokeAsync("_DefaultAboutComponentPartial")

            @await Component.InvokeAsync("_DefaultSkillComponentPartial")

            @await Component.InvokeAsync("_DefaultExperienceComponentPartial")

            @await Component.InvokeAsync("_DefaultEducationComponentPartial")

            @await Component.InvokeAsync("_DefaultPortfolioComponentPartial")

            @await Component.InvokeAsync("_DefaultContactComponentPartial")

        </div>
    </div> 

    @await Component.InvokeAsync("_DefaultFooterComponentPartial")

    @await Component.InvokeAsync("_DefaultScriptsComponentPartial")

</body>
</html>